@using ManagementSystem.Web.ViewModels
@model TaskViewModel

<div class="task-simple-wrapper">
    <a href="~/Tasks/Details/@Model.Id" title="See details">
        <div class="list-group-item @(@Model.Type==ManagementSystem.Data.Models.TaskType.Common?string.Empty:"text-important")">
            <p class="task-desc">
                <strong>Description: </strong> @(@Model.Description.Length > 100 ? @Model.Description.Substring(0, 100) + "..." : @Model.Description)
            </p>
            <hr />
            <p>
                Status: @Model.Status
            </p>
            <hr />
            <p>
                Type: @Model.Type
            </p>
            <hr />
            <p>
                Created on: @Model.CreatedOnDate.ToString("dd.MM.yyyy")
            </p>
            <hr />
            <p>
                Required by: @Model.RequiredByDate.ToString("dd.MM.yyyy")
            </p>
            <hr />
            <p>
                Next action on: @(@Model.NextActionDate == null ? "No information" : @Model.NextActionDate.ToString())
            </p>
            <hr />
            <p>
                Comments: @(@Model.Comments.Count == 0 ? "None" : @Model.Comments.Count.ToString())
            </p>
            <hr />
            <div class="pl10 pb10">
                Аssigned to:
                @if (Model.AssignedToUsers.Count == 0)
                {
                    <div>None</div>
                }
                else
                {
                    foreach (var user in Model.AssignedToUsers)
                    {
                        <div>
                            @user.UserName
                        </div>
                    }
                }
            </div>
        </div>
    </a>
</div>
